<h1>Show User</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Is verified:</strong>
    <%= @user.is_verified %>
  </li>

  <li>
    <strong>Password hash:</strong>
    <%= @user.password_hash %>
  </li>

  <li>
    <strong>Website:</strong>
    <%= @user.website %>
  </li>

</ul>

<span><%= live_redirect "Edit", to: Routes.live_path(@socket, UserLive.Edit, @user) %></span>
<span><%= live_redirect "Back", to: Routes.live_path(@socket, UserLive.Index) %></span>
