<h1>Show Comment</h1>

<ul>

  <li>
    <strong>Is published:</strong>
    <%= @comment.is_published %>
  </li>

  <li>
    <strong>Is flagged:</strong>
    <%= @comment.is_flagged %>
  </li>

  <li>
    <strong>Html:</strong>
    <%= @comment.html %>
  </li>

  <li>
    <strong>Markdown:</strong>
    <%= @comment.markdown %>
  </li>

</ul>

<%= if @current_user.id == @comment.author_id do %>
  <span><%= link "Edit", to: @redirect_url || Routes.comment_path(@conn, :edit, @comment) %></span>
<% end %>
<span><%= link "Back", to: @redirect_url || Routes.comment_path(@conn, :index) %></span>
