<h1>Listing Podcasts</h1>

<table>
  <thead>
    <tr>
      <th>Audio url</th>
      <th>Is published</th>
      <th>Notes md</th>
      <th>Subtitle</th>
      <th>Title</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for podcast <- @podcasts do %>
    <tr>
      <td><%= podcast.audio_url %></td>
      <td><%= podcast.is_published %></td>
      <td><%= podcast.notes_md %></td>
      <td><%= podcast.subtitle %></td>
      <td><%= podcast.title %></td>

      <td>
        <span><%= link "Show", to: Routes.podcast_path(@conn, :show, podcast) %></span>
        <span><%= link "Edit", to: Routes.podcast_path(@conn, :edit, podcast) %></span>
        <span><%= link "Delete", to: Routes.podcast_path(@conn, :delete, podcast), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Podcast", to: Routes.podcast_path(@conn, :new) %></span>
