<h1>Listing Podcasts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Audio url</th>
      <th>Notes md</th>
    </tr>
  </thead>
  <tbody>
<%= for podcast <- @podcasts do %>
    <tr>
      <td>
        <div><%= podcast.title %></div>
        <span class="subtitle"><%= podcast.subtitle %></span>
      </td>
      <td><%= link "▶", to: podcast.audio_url, class: "play" %></td>
      <td><%= link String.slice(podcast.notes_md, 0, 140)
              <> "... " <> comment_count_str(podcast.comment_count),
              to: Routes.podcast_path(@conn, :show, podcast),
              class: "notes-preview" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Podcast", to: Routes.podcast_path(@conn, :new) %></span>
