<div class="podcast-show">

  <h1 class="podcast-title"><%= @podcast.title %></h1>

  <div class="subtitle"><%= @podcast.subtitle %></div>

  <iframe src="<%= @podcast.audio_url %>?theme=minimal"
    seamless height="60"
    style="border: 0; margin: 0 auto 2rem;"
    class="pinecast-embed"
    frameborder="0"
    width="100%">
  </iframe>

  <h2>Show Notes:</h2>
  <%=# raw @podcast.notes_html %>
  <%= raw AlchemistMarkdown.to_html(@podcast.notes_md) %>

  <%= if @admin_user do %>
    <ul>
      <li>
        <strong>Is published:</strong>
        <%= @podcast.is_published %>
      </li>
    </ul>
  <% end %>

  <span><%= link "Edit", to: Routes.podcast_path(@socket, :edit, @podcast) %></span>
  <span><%= link "Back", to: Routes.podcast_path(@socket, :index) %></span>

  <%= render "comments.html",
    Map.merge(assigns, %{
      changeset: @changeset,
      current_url: Routes.podcast_path(@socket, :show, @podcast)
    })
  %>

</div>
